<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>G:\Shashank\Dropbox\UMassD\CIS 690\KnotFind\Knots\PDB\</param-value>
    </context-param>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <jsp-file>/uploadFile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/Knots/*</url-pattern>
    </servlet-mapping>
</web-app>
